# Hail adventurer! This file is not meant to be edited directly. 
# Instead, you should make a settings.local.toml file, and edit that. It will override anything here.

# ========================================
# DEFAULT SETTINGS USED IN ALL ENVIRONMENTS
# ========================================
# These settings are the base configuration for all environments. You can override them with [LIVE], [TEST], or [EMU] sections.
[DEFAULT]
DOWNLOAD_FOLDER = "@format {env[REDFETCH_DATA_DIR]}/Downloads"
EQPATH = ""

# ========================================
# XenForo OAuth2
# ========================================
OAUTH_CLIENT_ID = "4558786089326342"
OAUTH_CLIENT_SECRET = ""
OAUTH_SCOPE = "user:read resource:read resource:write attachment:write"
OAUTH_REDIRECT_URI = "http://127.0.0.1:62897/"

[DEFAULT.SPECIAL_RESOURCES.2463]
default_path = "IonBC"
custom_path = ""
opt_in = false

# ========================================
# LIVE ENVIRONMENT SETTINGS
# ========================================
[LIVE]
THEME = "textual-dark"

[LIVE.PROTECTED_FILES_BY_RESOURCE]
1974 = ["CharSelect.cfg", "Zoned.cfg", "MQ2Map.ini", "MQ2MoveUtils.ini"]

[LIVE.SPECIAL_RESOURCES.1974]
default_path = "VanillaMQ_LIVE"
custom_path = ""
opt_in = true

[LIVE.SPECIAL_RESOURCES.151]
default_path = "MySEQ_LIVE"
custom_path = ""
opt_in = false

[LIVE.SPECIAL_RESOURCES.151.dependencies.153]
subfolder = "maps"
flatten = true
opt_in = true

[LIVE.SPECIAL_RESOURCES.151.dependencies.1865]
subfolder = ""
flatten = false
opt_in = true

[LIVE.SPECIAL_RESOURCES.153]
default_path = "@format {this.eqpath}/maps"
custom_path = ""
opt_in = false

[LIVE.SPECIAL_RESOURCES.303]
default_path = "@format {this.eqpath}/maps"
custom_path = ""
opt_in = false

# LIVE staff picks
# kissassist
[LIVE.SPECIAL_RESOURCES.4]
opt_in = true
staff_pick = true

# lua event manager
[LIVE.SPECIAL_RESOURCES.2539]
opt_in = true
staff_pick = true

# guildclicky
[LIVE.SPECIAL_RESOURCES.2318]
opt_in = true
staff_pick = true

# buttonmaster
[LIVE.SPECIAL_RESOURCES.3003]
opt_in = true
staff_pick = true

# alertmaster
[LIVE.SPECIAL_RESOURCES.2062]
opt_in = true
staff_pick = true

# rgmercs
[LIVE.SPECIAL_RESOURCES.3040]
opt_in = true
staff_pick = true

# lootly
[LIVE.SPECIAL_RESOURCES.2196]
opt_in = true
staff_pick = true

# boxhud
[LIVE.SPECIAL_RESOURCES.2088]
opt_in = true
staff_pick = true

# scriber
[LIVE.SPECIAL_RESOURCES.2391]
opt_in = true
staff_pick = true

# bazaar / auction helper
[LIVE.SPECIAL_RESOURCES.3001]
opt_in = true
staff_pick = true

# skill skillup: spells and others
[LIVE.SPECIAL_RESOURCES.2937]
opt_in = true
staff_pick = true

# ========================================
# TEST ENVIRONMENT SETTINGS
# ========================================
[TEST]
THEME = "gruvbox"

[TEST.PROTECTED_FILES_BY_RESOURCE]
2218 = ["CharSelect.cfg", "Zoned.cfg", "MQ2Map.ini", "MQ2MoveUtils.ini"]

[TEST.SPECIAL_RESOURCES.2218]
default_path = "VanillaMQ_TEST"
custom_path = ""
opt_in = true

[TEST.SPECIAL_RESOURCES.164]
default_path = "MySEQ_TEST"
custom_path = ""
opt_in = false

[TEST.SPECIAL_RESOURCES.164.dependencies.153]
subfolder = "maps"
flatten = true
opt_in = true

[TEST.SPECIAL_RESOURCES.164.dependencies.1865]
subfolder = ""
flatten = false
opt_in = true

[TEST.SPECIAL_RESOURCES.153]
default_path = "@format {this.eqpath}/maps"
custom_path = ""
opt_in = false

[TEST.SPECIAL_RESOURCES.303]
default_path = "@format {this.eqpath}/maps"
custom_path = ""
opt_in = false

# TEST staff picks
# kissassist
[TEST.SPECIAL_RESOURCES.4]
opt_in = true
staff_pick = true

# lua event manager
[TEST.SPECIAL_RESOURCES.2539]
opt_in = true
staff_pick = true

# guildclicky
[TEST.SPECIAL_RESOURCES.2318]
opt_in = true
staff_pick = true

# buttonmaster
[TEST.SPECIAL_RESOURCES.3003]
opt_in = true
staff_pick = true

# alertmaster
[TEST.SPECIAL_RESOURCES.2062]
opt_in = true
staff_pick = true

# rgmercs
[TEST.SPECIAL_RESOURCES.3040]
opt_in = true
staff_pick = true

# lootly
[TEST.SPECIAL_RESOURCES.2196]
opt_in = true
staff_pick = true

# boxhud
[TEST.SPECIAL_RESOURCES.2088]
opt_in = true
staff_pick = true

# scriber
[TEST.SPECIAL_RESOURCES.2391]
opt_in = true
staff_pick = true

# bazaar / auction helper
[TEST.SPECIAL_RESOURCES.3001]
opt_in = true
staff_pick = true

# skill skillup: spells and others
[TEST.SPECIAL_RESOURCES.2937]
opt_in = true
staff_pick = true

# ========================================
# EMULATOR ENVIRONMENT SETTINGS
# ========================================
[EMU]
THEME = "dracula"

[EMU.PROTECTED_FILES_BY_RESOURCE]
60 = ["CharSelect.cfg", "Zoned.cfg", "MQ2Map.ini", "MQ2MoveUtils.ini"]

[EMU.SPECIAL_RESOURCES.60]
default_path = "VanillaMQ_EMU"
custom_path = ""
opt_in = true

[EMU.SPECIAL_RESOURCES.153]
default_path = "@format {this.eqpath}/maps"
custom_path = ""
opt_in = false

[EMU.SPECIAL_RESOURCES.303]
default_path = "@format {this.eqpath}/maps"
custom_path = ""
opt_in = false

# EMU staff picks
# kissassist
[EMU.SPECIAL_RESOURCES.4]
opt_in = true
staff_pick = true

# lua event manager
[EMU.SPECIAL_RESOURCES.2539]
opt_in = true
staff_pick = true

# guildclicky
[EMU.SPECIAL_RESOURCES.2318]
opt_in = true
staff_pick = true

# buttonmaster
[EMU.SPECIAL_RESOURCES.3003]
opt_in = true
staff_pick = true

# alertmaster
[EMU.SPECIAL_RESOURCES.2062]
opt_in = true
staff_pick = true

# rgmercs
[EMU.SPECIAL_RESOURCES.3040]
opt_in = true
staff_pick = true

# boxhud
[EMU.SPECIAL_RESOURCES.2088]
opt_in = true
staff_pick = true

# scriber
[EMU.SPECIAL_RESOURCES.2391]
opt_in = true
staff_pick = true

# bazaar / auction helper
[EMU.SPECIAL_RESOURCES.3001]
opt_in = true
staff_pick = true

# skill skillup: spells and others
[EMU.SPECIAL_RESOURCES.2937]
opt_in = true
staff_pick = true

# lootnscoot (EMU only)
[EMU.SPECIAL_RESOURCES.2675]
opt_in = true
staff_pick = true
